/*Selector universal */
*{
    padding: 0 auto;
    margin: 0 auto;
}

/*Selector ID*/
#contenedor{
    width: 1200px;
    height: 1200px;
    background-color:rgb(62,62,72);
}

#encabezado{
    height: 8%; /*15%*/
    background-color:white;
    margin: 1em; /*em: que es relativo al contenedor*/
    text-align: center;
    color: rgb(62,62,72);
    font-size: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3px;
}

#menu{
    height: 5%;
    background-color: rgb(162,186,186);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1em;
    color:white;
}

#contenido{
    height: 71%;
    width: 61%;
    background-color: white;
    margin: 0.5em;
    float: left;
}

#fueraSeccion{
    height: 71%;
    width: 36%;
    background-color:rgb(255,83,147);
    margin: 0.5em; 
    float: right;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#pie{
    height: 5%;
    background-color: rgb(255,83,147);
    border-radius: 1em;
    margin: 1.5em;
    color: white;
    
}

/*Selector de clase*/
.texto{
    text-align: justify;
    font-family:Tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
}

.encabezado_articulo{
    margin-top: 10px;
    text-align: center;
    color: white;
    background-color: black;
    margin: auto 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255,83,147);
    font-size: 40;
    border-radius: 1em;
}

.imagenes{
    display: block;
    border: 1px solid #ddd; 
    margin-left: 30%; /*4%*/
    border-radius: 4px;
    width: 250px; /*150px*/
    height: 200px;
}

/* Selector de etiqueta*/
ul{
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}